@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #051937,
    #051937,
    #051937,
    #051937,
    #051937
  );
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 1rem 5rem;
  background-image: linear-gradient(
    to bottom,
    #051937,
    #051937,
    #051937,
    #051937,
    #051937
  );
}

sup {
  font-size: 14px;
  color: yellow;
  /* text-shadow: 4px 5px 10px rgb(194, 188, 188); */
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  /* text-shadow: 1px 1px 15px rgb(194, 188, 188); */
  font-weight: 800;
  cursor: pointer;
}
.searchbar {
  display: flex;
  align-items: center;
}

.searchbar input {
  width: 290px;
  padding: 7px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 1rem;
  background: #fff;
}

.searchbar input::placeholder {
  opacity: 0.5;
}

section.todo-outer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
section.todo-outer h1 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #fff;
}
.todo-inner {
  width: 100%;
  display: flex;
  padding: 30px;
  border-radius: 20px 20px 0 0;
  color: white;
  background-image: radial-gradient(
    circle,
    #183b6f,
    #12315e,
    #0d274e,
    #081e3f,
    #041530
  );
  box-shadow: 0 01px #041530, 0px 0 #041530, 0px 02px #041530, 0px 01px #041530,
    0px 03px #041530, 0px 02px #041530, 0px 04px #041530, 0px 03px #041530,
    0px 05px #041530, 0px 04px #041530, 0px 06px #041530, 0px 05px #041530;
}

.form-row {
  display: flex;
  gap: 1rem;
}
.form-row input {
  width: 400px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  background: #fff;
  border-radius: 30px;
  border: none;
  outline: none;
  appearance: none;
  color: #000;
  font-weight: 500;
}
.form-row input::placeholder {
  opacity: 0.5;
}
.btn {
  border: none;
  outline: none;
  appearance: none;
  border-radius: 30px;
  padding: 8px 1.7rem;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #eb4fbe 0%,
    #4883e9 51%,
    #f86ad0 100%
  );
  color: #fff;
  font-weight: 900;
  transition: 0.5s;
  font-size: 1rem;
}
.btn-red {
  border: none;
  outline: none;
  appearance: none;
  border-radius: 30px;
  padding: 8px 2rem;
  cursor: pointer;

  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #fdd142 0%,
    #ee643e 51%,
    #f5c938 100%
  );
  transition: 0.5s;
}

.to-do-output {
  width: 100%;
  display: flex;
  padding: 0 15px;
  color: white;
  box-shadow: 0 01px #041530, 0px 0 #041530, 0px 02px #041530, 0px 01px #041530,
    0px 03px #041530, 0px 02px #041530, 0px 04px #041530, 0px 03px #041530,
    0px 05px #041530, 0px 04px #041530, 0px 06px #041530, 0px 05px #041530;
  background-image: radial-gradient(
    circle,
    #183b6f,
    #12315e,
    #0d274e,
    #081e3f,
    #041530
  );
  border-radius: 0 0 20px 20px;
}

table {
  width: 100%;
  padding: 0px 3px;
  font-weight: 500;
  margin: 5px 0;
}
tr {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

th {
  font-size: 20px;
}
td {
  padding: 10px 0;
  font-size: 15px;
}
.no {
  width: 2%;
  text-align: left;
  padding: 0 5px;
  font-size: 15px;
}
.text {
  width: 58%;
  font-size: 15px;
}

.edit {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid #fff;
  outline: none;
  appearance: none;
  border-radius: 30px;
  padding: 2px 20px;
  cursor: pointer;
  background-image: linear-gradient(to left, #bdeb89, #0ac90a);
  color: rgb(252, 252, 252);
  font-weight: 900;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
.edit:hover {
  background: #f7f7f7;
  color: rgb(5, 209, 5);
}

.delete {
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid #fff;
  outline: none;
  appearance: none;
  border-radius: 30px;
  padding: 2px 20px;
  cursor: pointer;
  background-image: linear-gradient(to right, #fc8852, #b31206);
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 15px;
}
.delete:hover {
  background: #f7f7f7;
  color: rgb(236, 8, 8);
}
.show {
  display: none;
}

@media (max-width: 900px) {
  body {
    background: #fff;
  }
  .container {
    display: none;
  }

  .show {
    display: block;
    max-height: 100vh;
    overflow: hidden;
  }
  .show h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #000;
    font-weight: 900;
    margin-top: 7rem;
    font-family: "Beau Rivage", cursive;
  }
  .show h2 {
    font-size: 2.5rem;
    text-align: center;
    color: #000;
    font-weight: 900;
    margin-top: 1.5rem;
    font-family: "Beau Rivage", cursive;
  }
  .show span {
    font-size: 1.2rem;
    color: crimson;
    text-align: right;
  }
  .show .thank {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
  }
}
